<div id="cern-toolbar">
  <h1>
    <a href="http://home.cern" title="CERN">
      CERN
      <span>Accelerating science</span></a>
  </h1>
</div>
<nav class="navbar navbar-inverse">
  <a href="https://alice-collaboration.web.cern.ch/"><img src="assets/img/alice_logo.png"></a>
  <h4 class="centered-axis-x">{{title}}</h4>
  <ul class="nav navbar-nav">
    <li routerLinkActive="active">
      <a routerLink="">ALICE Masterclass Home</a>
    </li>
  </ul>
</nav>
  <!-- <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="">ALICE Masterclass</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active">
        <a routerLink="about">About</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="about">Language</a>
      </li>
    </ul>
  </div>
</nav> -->


<!--<ul class="nav navbar-nav">
      <li>
        <a routerLink=""><img alt="Home" src="assets/img/alice_logo.png" title="Home" class="ng-star-inserted" width="60" height="40"></a>
      </li>
    </ul>
  -->

