.container-exercise {
  display: flex;
  height: 80vh;
}

.btn {
  font-size: 0.8rem;
}

h6 {
  font-size: 0.8rem;
}

.row {
  float:unset;
}

.histo-display {
  height: 100%;
  flex-grow: 1;
}

fieldset.event-handler {
  border: 1px groove #ddd;
  margin-bottom: 5px;
  padding: 0 0.8em 0.8em 0.8em;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend.event-handler {
  font-size: 1rem;
  width:auto;
  border: none;
  margin: 2px;
  padding: 5px;
}

.bar rect {
  fill: #2F4A6D;
}

.form-control{
  width: 40%;
  margin-bottom: 5px;
  padding: 5px;
}

.event-handler input {
  display: inline-block;
  width: 45%;
}

.histo_MM {
  padding: 0px;
  width: min(850px, 100%);
  height: auto;
}

.btn btn-light{
  margin-bottom: 10px!important;
}

/* NO UI Slider */
.range-slider {
  margin-top: 35px;
  margin-right: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.noUi-connect {
  background: #4169E1;
}

.noUi-horizontal {
  height: 5px;
}
.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 16px;
  left: -17px;
  top: -6px;
}

.noUi-active {
  box-shadow: inset 0 0 1px #000, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -17px;
  left: auto;
}

.noUi-handle:before,
.noUi-handle:after {
  display: block;
  position: absolute;
  height: 0px;
  width: 0px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 0px;
  height: 0px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}

.noUi-tooltip {
  padding: 3px;
  font-size: 10px;
}