<div class="container-exercise">
    <div class="tools">
        <fieldset class="event-handler">
            <legend class="event-handler">Navigation</legend>
            <mat-form-field>
                <mat-label>Particle Type</mat-label>
                <mat-select [(ngModel)]="selectedParticle">
                <mat-option value="k0"> Kaon </mat-option>
                <mat-option value="lambda"> Lambda </mat-option>
                <mat-option value="antilambda"> Anti-Lambda </mat-option>
                </mat-select>
            </mat-form-field><br/>
            <mat-form-field>
                <mat-label>Collision & Centrality</mat-label>
                <mat-select [(ngModel)]="selectedHistogram">
                    <mat-option value="pp">pp</mat-option>
                    <mat-option value="pbpb_000_010">Pb-Pb 0%-10%</mat-option>
                    <mat-option value="pbpb_010_020">Pb-Pb 10%-20%</mat-option>
                    <mat-option value="pbpb_020_030">Pb-Pb 20%-30%</mat-option>
                    <mat-option value="pbpb_030_040">Pb-Pb 30%-40%</mat-option>
                    <mat-option value="pbpb_040_050">Pb-Pb 40%-50%</mat-option>
                    <mat-option value="pbpb_050_060">Pb-Pb 50%-60%</mat-option>
                    <mat-option value="pbpb_060_070">Pb-Pb 60%-70%</mat-option>
                    <mat-option value="pbpb_070_080">Pb-Pb 70%-80%</mat-option>
                    <mat-option [hidden]="selectedParticle != 'k0'" value="pbpb_080_090">Pb-Pb 80%-90%</mat-option>
                    <mat-option [hidden]="true" value="pbpb_090_100">Pb-Pb 90%-100%</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="btn btn-light btn-block" [disabled]="!selectedParticle && !selectedHistogram" (click)="showdata()">Plot Invariant mass</button>
        </fieldset>
        <fieldset class="event-handler">
                <legend class="event-handler">Fit</legend>
                <h6>Signal range</h6>
                <!--type="number" matInput name="sig_beg" [(value)]="fitForm.controls.rangeSignal.value[0]"><span style="display: inline-block; width: 10%;"></span><input type="number" matInput name="sig_end" [(value)]="fitForm.controls.rangeSignal.value[1]"> -->
                <div class="range-slider">
                    <nouislider #signal [connect]="true" [min]="zoom_xmin" [max]="zoom_xmax" [step]="0.001" [(ngModel)]="rangeSignal" [tooltips]="[true, true]" [format]="formatter"></nouislider>
                </div>
                <hr/>
                <h6>Background range</h6>
                <!-- <input type="number" matInput name="bg_beg"><span style="display: inline-block; width: 10%;"></span><input type="number" matInput name="bg_end" > -->
                <div class="range-slider">
                    <nouislider #background [connect]="true" [min]="zoom_xmin" [max]="zoom_xmax" [step]="0.001" [(ngModel)]="rangeBackground" [tooltips]="[true, true]" [format]="formatter"></nouislider>
                </div>
            <hr/>
            <button class="btn btn-light btn-block" (click)="drawFitmass()">Fit</button>
            <button class="btn btn-light btn-block" [disabled]="!fit_current" (click)="acceptFit()">Accept</button>
        </fieldset>
        <!-- <button class="btn btn-light btn-block" (click)="openInstructions()">Read instructions</button> -->
    </div>

    <div class="histo-display">
        <div class="histo_MM"></div>
    </div>
</div>