<div class="ed-container">
  <div class="area-menu">
    <fieldset>
      <legend class="event-handler">Event handler</legend>
      <h6 style="text-align: center" *ngIf="filename">Event {{eventnumber}}</h6>
      <div id="nav-buttons">
        <button class="btn btn-light btn-nav" (click)="previous()">previous</button>
        <button class="btn btn-light btn-nav" (click)="next()">next</button>
      </div>
    </fieldset>

    <fieldset>
      <legend class="event-handler">View</legend>
      <mat-slide-toggle
        [checked]= "checkedDetector"
        (change) = "hideDetChange($event)"><h6>Detector</h6>
      </mat-slide-toggle>
      <br>
      <mat-slide-toggle
        [checked]= "checkedTracks"
        (change) = "hideTracksChange($event)"><h6>Tracks</h6>
      </mat-slide-toggle>
      <br>
      <mat-slide-toggle
        [checked]= "checkedCombos"
        (change) = "hideCombosChange($event)"><h6>Decays</h6>
      </mat-slide-toggle>
      <ng-template [ngIf]="currentStudent.combination==0">
        <br>
        <mat-slide-toggle
        [checked]= "checkedClusters"
        (change) = "hideClustersChange($event)"><h6>Clusters</h6>
        </mat-slide-toggle>
      </ng-template>

      <mat-form-field>
        <mat-label>3D View</mat-label>
        <mat-select [(ngModel)]="selectedView" (ngModelChange)="onChangeView()">
          <mat-option value="perspective">Perspective</mat-option>
          <mat-option value="top">Top</mat-option>
          <mat-option value="side">Side</mat-option>
          <mat-option value="front">Front</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <mat-checkbox [checked]="false" (change)=onChangeRotate($event) > <h6>Auto rotate</h6></mat-checkbox> -->
      <!-- <small>Detector Opacity</small><br/>
      <mat-slider (input)="onChangeOpacity($event)" min="0" max="1" step="0.05" value="0.3"></mat-slider><br/> -->
      <small>View 1 Zoom</small><br/>
      <mat-slider (input)="onChangeZoomRPhi($event)" min="0.1" max="10" step="0.05" value="1"></mat-slider><br/>
      <small>View 2 Zoom</small><br/>
      <mat-slider (input)="onChangeZoomRhoZ($event)" min="0.1" max="10" step="0.05" value="1"></mat-slider>
      
    </fieldset>

    <fieldset>
      <legend class="event-handler">Particle masses</legend>
      <div>
        <div class="separate-children">
          <span class="legend">e<sup>−</sup>, e<sup>+</sup></span>
          <span class="legend">0.0005 GeV/<i>c</i><sup>2</sup></span>
        </div>
        <div class="separate-children">
          <span class="legend">&pi;<sup>−</sup>, &pi;<sup>+</sup></span>
          <span class="legend">0.1396 GeV/<i>c</i><sup>2</sup></span>
        </div>
        <div class="separate-children">
          <span class="legend">K<span class="supsub"><sup>0</sup><sub>S</sub></span></span>
          <span class="legend">0.4976 GeV/<i>c</i><sup>2</sup></span>
        </div>
        <div class="separate-children">
          <span class="legend">p, p&#773;</span>
          <span class="legend">0.9383 GeV/<i>c</i><sup>2</sup></span>
        </div>
        <div class="separate-children">
          <span class="legend">Λ, Λ&#773;</span>
          <span class="legend">1.1157 GeV/<i>c</i><sup>2</sup></span>
        </div>
        <div class="separate-children">
          <span class="legend">Ξ, Ξ&#773;</span>
          <span class="legend">1.3217 GeV/<i>c</i><sup>2</sup></span>
        </div>
      </div>
    </fieldset>
    <!-- <div style="margin-top: 5px">
      <button class="btn btn-light btn-block" (click)="openInstructions()">Decay patterns</button>
    </div> -->
  </div>
  <!--
      <a style="text-decoration: none; color: #333333;" [href]="downloadJsonHref" download=calculated_masses.json>
        <button class="btn btn-light btn-block" style="margin-top: 5px;">Download JSON</button>
      </a>
  -->

  <div class="event-display">
    <canvas id="canvas"
      #canvas
      (mousedown)="onMouseDown($event)" 
      (mousemove)="onMouseMove($event)">		
    </canvas>
    <div id="view0">3D View</div>
    <div id="view1">View 1</div>
    <div id="view2">View 2</div>
  </div>

  <fieldset class="area-calculator" id="particle_info">
    <legend class="event-handler">Calculator</legend>
    <fieldset class="event-handler" style="display: flex;">
      <div class="col">
        <h6><b><br></b></h6>
        <h6><b><i>p</i><sub>x</sub> (GeV/<i>c</i>)</b></h6>
        <h6><b><i>p</i><sub>y</sub> (GeV/<i>c</i>)</b></h6>
        <h6><b><i>p</i><sub>z</sub> (GeV/<i>c</i>)</b></h6>
        <h6><b>mass (GeV/<i>c</i><SUP>2</SUP>)</b></h6>
      </div>
      <div class="col">
        <h6><b style="color: #FF4500">(+)</b></h6>
        <ng-template [ngIf]="particlePos">
          <h6>{{particlePos.px.toFixed(3)}}</h6>
          <h6>{{particlePos.py.toFixed(3)}}</h6>
          <h6>{{particlePos.pz.toFixed(3)}}</h6>
          <h6>{{particlePos.mass}}</h6>
        </ng-template>
      </div>
      <div class="col">
        <h6><b style="color: #32CD32">(-)</b></h6>
        <ng-template [ngIf]="particleNeg">
          <h6>{{particleNeg.px.toFixed(3)}}</h6>
          <h6>{{particleNeg.py.toFixed(3)}}</h6>
          <h6>{{particleNeg.pz.toFixed(3)}}</h6>
          <h6>{{particleNeg.mass}}</h6>
        </ng-template>
      </div>
      <div class="col">
        <h6><b style="color: #4169E1">(b)</b></h6>
        <ng-template [ngIf]="particleBac">
          <h6>{{particleBac.px.toFixed(3)}}</h6>
          <h6>{{particleBac.py.toFixed(3)}}</h6>
          <h6>{{particleBac.pz.toFixed(3)}}</h6>
          <h6>{{particleBac.mass}}</h6>
        </ng-template>
      </div>
    </fieldset>
  </fieldset>

  <fieldset class="area-particle" style="display: flex; align-items: center;">
    <legend class="event-handler">Particle</legend>
    <div class="col">
      <h6><b>Invariant Mass (GeV/<i>c</i><SUP>2</SUP>)</b></h6>
    </div>
    <div class="col">
      <h6 *ngIf="massCalculated">{{massCalculated.toFixed(3)}}</h6>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-select [(ngModel)]="particleSelected">
          <mat-option value="1"> Kaon </mat-option>
          <mat-option value="2"> Lambda </mat-option>
          <mat-option value="3"> Anti-Lambda </mat-option>
          <mat-option value="4"> Xi </mat-option>
        </mat-select>
    </mat-form-field>
    </div>
    <div class="col">
      <button class="btn btn-light btn-block" (click)="add()">Add</button>
    </div>
  </fieldset>

  <fieldset class="area-histograms">
    <legend class="histograms" >Histograms</legend>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Kaon">
        <div class="histogram" #kaon></div>
        <span class="hist-title">K<span class="supsub"><sup>0</sup><sub>S</sub></span></span>
      </mat-tab>
      <mat-tab label="Lambda">
        <div class="histogram" #lambda></div>
        <span class="hist-title">Λ</span>
      </mat-tab>
      <mat-tab label="Anti-Lambda">
        <div class="histogram" #antilambda></div>
        <span class="hist-title">Λ&#773;</span>
      </mat-tab>
      <mat-tab label="Xi">
        <div class="histogram" #xi></div>
        <span class="hist-title">Ξ</span>
      </mat-tab>
    </mat-tab-group>
  </fieldset>
</div>