.event-display {
  grid-area: eventdisplay;
  overflow: hidden;
  position: relative;
}

.ed-container {
  display: grid;
  width: 100%;
  height: 85vh;
  overflow-x: auto;
  overflow-y: visible;

  grid-template-columns: 200px minmax(264px, 1fr) minmax(430px, 30%);
  grid-template-rows: 1fr 4fr 1fr;
  column-gap: 5px;
  grid-template-areas:
    "menu eventdisplay particle"
    "menu eventdisplay histograms"
    "menu calculator histograms"
}

.area-menu {
  grid-area: menu;
}

fieldset {
  border: 1px groove #ddd;
  box-shadow: 0px 0px 0px 0px #000;
  padding: 0.5em;
}

mat-form-field {
  width: 100%;
  margin-top: 5px;
}

#nav-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-nav {
  width: 45%;
}

.area-calculator {
  grid-area: calculator;
}

#my_particle {
  margin: 2px;
}

#mass {
  margin: 2px;
  padding-left: 10px;
}

#invariant_mass {
  margin: 2px;
}

.area-particle {
  grid-area: particle;
}

.area-histograms {
  grid-area: histograms;
}

.hist {
  display: grid;
  grid-template-areas:
    "kaon lambda"
    "anti-lambda xi";
}

.histogram {
  padding-top: 1em;
}

.col {
  flex-grow: 1;
  text-align: center;
}

legend.event-handler {
  font-size: 1em;
  width:auto;
  border: none;
  margin: 2px;
  padding: 5px;
}

legend.histograms {
  font-size: 1em;
  width:auto;
  border: none;
  margin: 2px;
  padding: 5px;
}

.button-save {
  float: bottom;
}

.legend {
  margin-bottom: 1px;
}

.button {
  width: 100%;
}

#view0 {
  position: absolute;
  left: 22%;
  top: 0;
  pointer-events: none;
}

#view1 {
  position: absolute;
  left: 72%;
  top: 0;
  pointer-events: none;
}

#view2 {
  position: absolute;
  top: 50%;
  left: 72%;
  pointer-events: none;
}

th {
  text-align: center;
}

.supsub {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  vertical-align: middle;
}

@font-face {
  font-family: "Gentium Alt";
  src: url("/assets/fonts/GenAR102.TTF") format('truetype')
}

.separate-children {
  display: flex;
  justify-content: space-between;
}

.legend {
  font-family: "Gentium Alt";
  font-size: 1.2rem;
}

.hist-title {
  position: absolute;
  font-family: "Gentium Alt";
  font-size: 1.2rem;
  left: 13%;
  top: 10%;
}