<!--The content below is only a placeholder and can be replaced.-->
<app-header #header></app-header>
<div class="container">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<app-footer></app-footer>



