.home {
	align-content: center;
}

.container {
  padding-bottom: 2%;
  width: 500px;
  clear: both;
  margin-bottom: 30px;
  height: 80vh;

}

.container input, select, mat-card {
  width: 100%;
  clear: both;
}