<div class=home>
	<div class="container">
			<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
			<!--
				<mat-form-field style="width: 100%">
					<input matInput [formControl]="authForm.controls.firstname" placeholder="Firstname">
				</mat-form-field>
				<br>
				<mat-form-field style="width: 100%">
					<input matInput [formControl]="authForm.controls.surname" placeholder="Surname">
				</mat-form-field>
				<br>
				<mat-form-field style="width: 100%">
					<input matInput [formControl]="authForm.controls.grade" placeholder="Grade">
				</mat-form-field>
				<br>
			-->
				<mat-form-field style="width: 100%">
				    <mat-label>Dataset</mat-label>
				    <mat-select [formControl]="authForm.controls.combination">
								<mat-option value="0"> Demo Dataset </mat-option>
				        <mat-option value="1"> Dataset 1 </mat-option>
				        <mat-option value="2"> Dataset 2 </mat-option>
				        <mat-option value="3"> Dataset 3 </mat-option>
				        <mat-option value="4"> Dataset 4 </mat-option>
				        <mat-option value="5"> Dataset 5 </mat-option>
				        <mat-option value="6"> Dataset 6 </mat-option>
				        <mat-option value="7"> Dataset 7 </mat-option>
				        <mat-option value="8"> Dataset 8 </mat-option>
				        <mat-option value="9"> Dataset 9 </mat-option>
				        <mat-option value="10">Dataset 10</mat-option>
				        <mat-option value="11">Dataset 11</mat-option>
				        <mat-option value="12">Dataset 12</mat-option>
				        <mat-option value="13">Dataset 13</mat-option>
				        <mat-option value="14">Dataset 14</mat-option>
				        <mat-option value="15">Dataset 15</mat-option>
				        <mat-option value="16">Dataset 16</mat-option>
				        <mat-option value="17">Dataset 17</mat-option>
				        <mat-option value="18">Dataset 18</mat-option>
				        <mat-option value="19">Dataset 19</mat-option>
				        <mat-option value="20">Dataset 20 (full event)</mat-option>
				    </mat-select>
				</mat-form-field>
		    <button type="submit" class="btn btn-light" style="float: right;" [disabled]="!authForm.valid">Start Visual Analysis</button>
		</form>
	</div>
</div>
