<div class=home>
	<!-- icon exercises -->
	<div class="container">
		<h5>Looking for strange particles</h5>
		<div class="exercises">
			<mat-card>
				<a routerLink="dataset-select">
					<input type="image" class='color' src="assets/ex3.png"/>
				</a>
				<p style="text-align: center">Visual Analysis</p>
			</mat-card>
			<mat-card>
				<a routerLink="lsa-exercise">
				  <input type="image" class='color' src="assets/ex1.png"/>
				</a>
				<p style="text-align: center">Large Scale Analysis</p>
			</mat-card>	
		</div>
		<div class="flags">
			<a href="" class="disabled-link"><img src="assets/img/funds.png"></a>
			<a href="" class="disabled-link"><img src="assets/img/rp.png"></a>
			<a href="https://www.pw.edu.pl/"><img src="assets/img/pw.png"></a>
			<a href="" class="disabled-link"><img src="assets/img/eu.png"></a>
		</div>
	</div>
</div>
