.home{
	align-content: center;
}

.auth
{
	text-align: left;
	width: 100%;
	height: 100%;
}

.exercise-list
{
	text-align: center;
	width: 100%;
	height: 100%;
}

.is-active {
    cursor: default;
}

.gray {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
}

.color {
  opacity: 1;
  filter: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  min-width: 760px;
}

mat-card {
  margin: 2%;
}

.container input, select, mat-card {
  width: 100%;
}

h5 {
  text-align: center;
}

.exercises {
  display: flex;
  justify-content: space-between;
}

.flags {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 100%;
}

.flags > a {
  display: inline-block;
  height: 100%;
  width: fit-content;
}

.disabled-link {
  pointer-events: none;
}

a > img {
  object-fit: contain;
  height: 100%;
}
